<div ng-controller="ViewAuthCtrl" class="md-padding auth-backdrop" ng-cloak>
	<h1 flex class="title">Inventory Management</h1>
	<md-content flex="30" layout-padding class="auth-info animated" ng-class="!signInUp ? 'fadeIn show': 'fadeOut hide'">
		<form ng-submit="signUp(user)">
			<div flex layout="row">
				<md-input-container flex class="md-icon-float md-block">
					<label>First Name</label>
					<md-icon class="material-icons">person</md-icon>
					<input ng-model="user.fname" submit-required="true" ng-required="true">
				</md-input-container>
				<md-input-container flex class="md-icon-float md-block">
					<label>Last Name</label>
					<md-icon class="material-icons">person</md-icon>
					<input ng-model="user.lname" submit-required="true" ng-required="true">
				</md-input-container>
			</div>
			<div flex layout="row">
				<md-input-container flex class="md-icon-float md-block">
					<label>Email</label>
					<md-icon class="material-icons">mail</md-icon>
					<input ng-model="user.email" submit-required="true" type="email" ng-required="true">
				</md-input-container>
			</div>
			<div flex layout="row">
				<md-input-container flex class="md-icon-float md-block">
					<label>Password</label>
					<md-icon class="material-icons">lock</md-icon>
					<input ng-model="user.password" submit-required="true" type="password" ng-required="true">
				</md-input-container>
			</div>
			<div flex layout="row">
				<md-input-container flex class="md-icon-float md-block">
					<label>Repeat Password</label>
					<md-icon class="material-icons">lock</md-icon>
					<input ng-model="user.rptPassword" submit-required="true" type="password" ng-required="true">
				</md-input-container>
			</div>
			<div flex layout="row">
				<md-button flex class="md-raised md-primary" type="submit" ng-disabled="!user.fname || !user.lname || !user.email || (user.password != user.rptPassword) || !user.password || user.password.length < 6">Create Account</md-button>
			</div>
			<div flex layout="row">
				<md-button flex class="md-primary" ng-click="switchView()">Already Have An Account?</md-button>
			</div>
		</form>
	</md-content>

	<md-content flex="30" layout-padding class="auth-info animated" ng-class="signInUp ? 'fadeIn show': 'fadeOut hide'">
		<form ng-submit="signIn(user)">
		<div flex layout="row">
			<md-input-container flex class="md-icon-float md-block">
				<label>Email</label>
				<md-icon class="material-icons">mail</md-icon>
				<input ng-model="user.email" submit-required="true" type="email" ng-required="true">
			</md-input-container>
		</div>
		<div flex layout="row">
			<md-input-container flex class="md-icon-float md-block">
				<label>Password</label>
				<md-icon class="material-icons">lock</md-icon>
				<input ng-model="user.password" submit-required="true" type="password" ng-required="true">
			</md-input-container>
		</div>
		<div flex layout="row">
			<md-button flex class="md-raised md-primary" type="submit" ng-disabled="!user.email || !user.password" >Sign In</md-button>
		</div>
		<div flex layout="row">
			<md-button flex class="md-primary" ng-click="switchView()">Don't Have An Account?</md-button>
		</div>
		</form>
	</md-content>
</div>